In [10]:
name = "Izzat Sara"
my_name = {}
for char in name:
    if char != " ":
        my_name[char] = name.count(char)
print(my_name)

{'I': 1, 'z': 2, 'a': 3, 't': 1, 'S': 1, 'r': 1}

In [11]:
for char,count in my_name.items():
    if (count) == 1:
        print("The letter", char, "appears in my name once")
    elif (count)==2:
        print("The letter", char, "appears in my name twice")
    elif char == ():
        pass
    else:
        print("The letter", char, "appears in my name", count, "times")

The letter I appears in my name once
The letter z appears in my name twice
The letter a appears in my name 3 times
The letter t appears in my name once
The letter S appears in my name once
The letter r appears in my name once

In [12]:
class_info = {'student1':{"name":"Izzat",
                         "university":"USM"}}

In [13]:
state_capitals = {
  "Alaska" : "Juneau",
  "Colorado" : "Denver",
  "Oregon" : "Salem",
  "Texas" : "Austin"
  }

In [19]:
def reverse_lookup(capital_input):
    for state,capital in state_capitals.items():
        if capital == capital_input:
            return state

In [18]:
reverse_lookup("Texas")

''